/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #8f8fe4 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.card {
  background-color: #5d8ef2;
  border-radius: 1rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

h3 {
  font-weight: 700;
}

p {
  font-size: 0.95rem;
}
.form-control {
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  border: 1px solid #81b9f0;

}
.btn-primary {
  background-color: #0d6efd;
  border: none;
  padding: 0.75rem;
  font-weight: 600;
  border-radius: 0.5rem;
}
.btn-outline-secondary {
  border-radius: 0.5rem;
  font-weight: 500;
}


@media (max-width: 786px) {
  body {
    padding: 3rem;
  }

.img-page {
    display: none;
  }


  h3, p {
    text-align: center;
  }

 

}






